.MMM-PhotoWallpaper .wallpaper {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.MMM-PhotoWallpaper .tall {
	width: 100%;
	height: auto;
}

.MMM-PhotoWallpaper .wide {
	width: auto;
	height: 100%;
}

.MMM-PhotoWallpaper .title {
	position: absolute;
	right: 25px;
	bottom: 25px;
	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 14px;
	line-height: 25px;
}
